.skill_box {
  padding-top: 2vh;
}
h1 {
  font-size: 5rem;
  text-align: center;
}
.lang {
  background: linear-gradient(
    117.66deg,
    rgba(0, 0, 0, 0.4) 40.22%,
    rgba(0, 0, 0, 0.15) 90.82%
  );
  opacity: 0.9;
  border-radius: 15px;
  width: 250px;
  height: 65px;
  padding: 3% 10% 3% 10%;
  margin: 2%;
  color: white;
  font-weight: 500;
  display: flex;
  text-align: center;
}
